html {
    background-color: #fff;
}
@font-face { 
    font-family: Montserrat;
    font-style: normal; 
    font-weight: 400; 
    font-display: swap;
    src: local('Montserrat Regular'),
         local('Montserrat-Regular'),
         url(/fonts/Montserrat-Regular.woff2) format('woff2'),
         url(/fonts/Montserrat-Regular.woff) format('woff');
}
@font-face { 
    font-family: Montserrat; 
    font-style: bold; 
    font-weight: 700; 
    font-display: swap;
    src: local('Montserrat Bold'),
         local('Montserrat-Bold'),
         url(/fonts/Montserrat-Bold.woff2) format('woff2'),
         url(/fonts/Montserrat-Bold.woff) format('woff');
}
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
    font-style: bold;
    font-weight: 700;
    color: #303030;
}
p, div {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    color: #606060;
    font-size: 18px;
}
.container {
    margin-top: 150px;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 90px;
}
a {
    color: #303030;
    font-family: Montserrat;
    font-weight: 700;
    font-style: bold;
    text-decoration: underline;
    transition: color ease .4s;
}
a:hover, a:active {
    color: #969696;
}
mark {
    background-color: yellow;
    color: black;
}
::selection {
    background-color: yellow;
    color: black;
}
::-moz-selection {
    background-color: yellow;
    color: black;
}
header {
    top: 0;
    margin-left: 70px;
    margin-right: 70px;
    padding: 40px 20px;
    position: fixed;
    box-sizing: border-box;
    left: 0;
    right: 0;
    background-color: #fff;
    border-bottom: 2px solid #969696;
    animation: color-changing 5s infinite alternate;
    z-index: 1;
}
@keyframes color-changing {
    0% {
        border-color: #969696;
    }
    25% {
        border-color: yellow;
    }
    50% {
        border-color: #303030;
    }
    75% {
        border-color: yellow;
    }
    100% {
        border-color: #969696;
    }
}
.site-title a {
    font-size: 22px;
    text-decoration: none;
}
.site-title a:hover, .site-title a:active {
    color: #969696;
}
.site-title {
    display: block;
    float: left;
    padding-left: 20px;
}
.sides {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
}
.side-content {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: left top bottom;
    box-sizing: border-box;
    width: 80px;
    bottom: 30px;
    position: fixed;
    font-size: 12px;
    line-height: 80px;
    display: table-cell;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.right-side, .left-side {
    height: 100%;
    width: 80px;
    top: 0; 
    bottom: 0;
    overflow: hidden;
    position: fixed;
    background-color: #fff;
    z-index: 2;
}
.right-side {
    float: right;
    right: 0;
    border-left: 2px solid #969696;
    animation: color-changing 5s infinite alternate;
}
.left-side {
    float: left;
    left: 0;
    border-right: 2px solid #969696;
    animation: color-changing 5s infinite alternate;
}
.side-content a {
    text-decoration: none;
    margin-right: 30px;
}
.header-nav a {
    color: #303030;
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.header-nav a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: yellow;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.header-nav a:hover:before, .header-nav a:active:before {
    right: 0;
}
.header-nav {
    display: block;
    position: relative;
    float: right;
    padding-right: 20px;
}
.g-div {
    background-color: #606060;
    padding: 40px 40px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.g-div div, .g-div p {
    color: #fff;
}
.g-div h1 {
    color: #fff;
    padding-left: 18px;
}
.row {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    align-items: stretch;
    -webkit-align-items: stretch;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.col-medium {
    width: 49%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding-right: 18px;
    padding-left: 18px;
    margin-bottom: none;
}
.col-max {
    width: 72.5%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding-right: 18px;
    margin-bottom: none;
}
.col-min {
    width: 24.5%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding-left: 18px;
    margin-bottom: none;
}
img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
figure {
    margin: 0;
}
figcaption {
    font-size: 14px;
    color: #303030;
    font-weight: 700;
}
.mobile-header {
    visibility: hidden;
    display: none;
}
.article-list {
    margin-left: 40px;
    margin-right: 40px;
}
.article-list h2 {
    text-decoration: underline;
    text-decoration-color: yellow;
}
a.article-title {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}
.article {
    border: 2px solid #969696;
    border-radius: 8px;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: box-shadow ease .4s;
}
.article:hover {
    color: #f2f2f2;
    box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
}
.book-list {
    margin-right: 40px;
}
.book-list a {
    text-decoration: none;
    font-size: 16px;
}
.book-author {
    font-size: 12px;
    margin-left: 4px;
}
.book-list li {
    padding-bottom: 10px;
}
.default {
    margin-left: 20%;
    margin-right: 20%;
}
input:focus, *:focus {
    outline: none;
}
.subtitle {
    color: #606060;
}
.article-info {
    text-align : right;
}
b, strong {
    color: #303030;
}
.article-info div {
    font-size: 14px;
    margin-bottom: 6px;
}
.comments-button {
    font-family: Montserrat;
    font-weight: 700;
    width: 100%;
    border-radius: 8px;
    background-color: #303030;
    color: #fff;
    height: 40px;
    transition: background-color ease .4s, color ease .4s;
    border: none;
}
.comments-button:hover, .comments-button:active {
    color: black;
    background-color: yellow;
}
.article-info a {
    color: #606060;
    text-decoration: none;
}
form label {
    font-size: 14px;
    color: #303030;
    font-weight: 700;
}
.text {
    width: 100%;
    border: 1px solid #606060;
    font-size: 18px;
    font-family: Montserrat;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    transition: border ease .4s;
    border-radius: 2px;
    color: #606060;
    box-sizing: border-box;
}
.text-message {
    width: 100%;
    border: 1px solid #606060;
    font-size: 18px;
    font-family: Montserrat;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    transition: border ease .4s;
    resize: none;
    border-radius: 2px;
    color: #606060;
    box-sizing: border-box;
}
.text:hover, .text:active, .text-message:hover, .text-message:active {
    border: 1px solid #303030;
}
input[type="submit"] {
    font-family: Montserrat;
    font-weight: 700;
    width: 100%;
    border-radius: 8px;
    background-color: #303030;
    color: #fff;
    height: 40px;
    transition: background-color ease .4s, color ease .4s;
    border: none;
    margin-bottom: 10px;
}
input[type="submit"]:hover, input[type="submit"]:active {
    color: black;
    background-color: yellow;
}
.newsletter-promo {
    margin-bottom: 10px;
}
.first-letter {
    float: left;
    color: #303030;
    font-size: 72px;
    line-height: 40px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    font-weight: 700;  
}
table {
    width: 100%;
    height: auto;
}
th {
    background-color: #606060;
    color: #fff;
    font-weight: 700;
}
.mobile-nav {
    display: none;
    visibility: hidden;
}
.m-social-div {
    display: none;
    visibility: hidden;
}
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
ul>li:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 4px;
    margin-right: 8px;
    background-color: yellow;
    vertical-align: middle;
}
.yellow-b, .gray-b {
    display: block;
    visibility: visible;
    bottom: 0;
    top: unset;
    width: 50%;
    height: 4px;
    position: fixed;
}
.div-b {
    display: block;
    margin: 0;
}
.yellow-b {
    background-color: yellow;
    float: left;
    left: 0;
}
.gray-b {
    background-color: #303030;
    float: right;
    right: 0;
}
@media (max-width: 992px) {
    header {
        visibility: visible;   
        border-top: 2px solid #969696;
        animation: color-changing 5s infinite alternate;
        border-bottom: none;
        top: unset;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #fff;
        box-sizing: border-box;
        margin-left: 4px;
        margin-right: 0px;
 
    }
    .m-row {
        width: 100%;
        display: flex;
        display: -webkit-flex;
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
        align-items: stretch;
        -webkit-align-items: stretch;
        justify-content: space-between;
        -webkit-justify-content: space-between;
    }
    .m-col {
        width: 31%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        padding-right: 18px;
        padding-left: 18px;
        margin-bottom: none;
        text-align: center;
    }
    .mobile-nav {
        display: block;
        visibility: visible;
    }
    .mobile-nav a {
        font-size: 16px;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }
    .mobile-nav a:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #303030;
        border-radius: 2px;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .mobile-nav a:hover, .mobile-nav a:active {
        color: white;
    }
    .mobile-nav a:hover:before, .mobile-nav a:active:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    .article-info {
        text-align: left;
    }
    .default {
        margin-left: 0px;
        margin-right: 0px;
    }
    .container {
        margin-top: 20px;
        margin-left: 24px;
        margin-right: 20px;
        margin-bottom: 80px;
    }
    .row {
        display: block;
        width: 100%;
    }
    .col-medium, .col-max, .col-min {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .sides {
        display: none;
        visibility: hidden;
    }
    .site-title, .header-nav {
        display: none; 
        visibility: hidden;
    }
    .mobile-header {
        visibility: hidden;
        display: block;
    }
    .article-list {
        margin-left: 0px;
        margin-right: 0px;
    }
    .article {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .g-div {
        padding: 20px 20px;
    }
    .g-div h1 {
        color: #fff;
        padding-left: 0px;
    }
    .book-list {
        display: block;
        margin-right: 0px;
    }
    .m-social-div {
        display: block;
        visibility: visible;
    }
    .m-social-div h4 {
        margin-bottom: 10px;
    }
    .m-social-div a {
        text-decoration: none;
    }
    .instagram {
        color: #E1306C;
    }
    .twitter {
        color: #1DA1F2;
    }
    .linkedin {
        color: #2867B2;
    }
    .telegram {
        color: #0088CC;
    }
    .b-a-row {
        width: 100%;
        display: table;
    }
    .b-a-col-r {
        display: table-cell;
        float: right;
        text-align: right;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 49%;
        padding-right: 5px;
        padding-left: 10px;
    }
    .b-a-col-l {
        display: table-cell;
        float: left;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 49%;
        padding-right: 10px;
        padding-left: 5px;
    }
    .yellow-b, .gray-b {
        display: block;
        visibility: visible;
        position: fixed;
        height: 50%;
        width: 4px;
        left: 0;
        right: unset;
    }
    .div-b {
        position: fixed;
        display: block;
    }
    .yellow-b {
        background-color: yellow;
        float: bottom;
        bottom: 0;
    }
    .gray-b {
        background-color: #303030;
        float: top;
        top: 0;
    }
}
p.CookieDeclarationTypeHeader {
    color: #303030;
}
.b-a-row {
    width: 100%;
    display: table;
}
.b-a-col-r {
    display: table-cell;
    float: right;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 49%;
    padding-right: 5px;
    padding-left: 10px;
}
.b-a-col-l {
    display: table-cell;
    float: left;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 49%;
    padding-right: 10px;
    padding-left: 5px;
}
.b-a-col-l a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 2.5px;
    padding-left: 2.5px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.b-a-col-l a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: yellow;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.b-a-col-l a:hover, .b-a-col-l a:focus, .b-a-col-l a:active {
    color: black;
}
.b-a-col-l a:hover:before, .b-a-col-l a:focus:before, .b-a-col-l a:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.b-a-col-r a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 2.5px;
    padding-left: 2.5px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.b-a-col-r a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: yellow;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.b-a-col-r a:hover, .b-a-col-r a:focus, .b-a-col-r a:active {
    color: black;
}
.b-a-col-r a:hover:before, .b-a-col-r a:focus:before, .b-a-col-r a:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}