html {
    background-color: #fff;
    scrollbar-width: thin;
    scrollbar-color: #969696 #fff;
}
::-webkit-scrollbar {
    width: 6.5px;
}
::-webkit-scrollbar-thumb {
    background-color: #969696;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #606060;
}
::-webkit-scrollbar-thumb:active {
    background-color: #303030;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
@font-face { 
    font-family: Montserrat;
    font-style: normal; 
    font-weight: 400; 
    font-display: swap;
    src: local('Montserrat Regular'),
         local('Montserrat-Regular'),
         url(/fonts/Montserrat-Regular.woff2) format('woff2'),
         url(/fonts/Montserrat-Regular.woff) format('woff');
}
@font-face { 
    font-family: Montserrat; 
    font-style: bold; 
    font-weight: 700; 
    font-display: swap;
    src: local('Montserrat Bold'),
         local('Montserrat-Bold'),
         url(/fonts/Montserrat-Bold.woff2) format('woff2'),
         url(/fonts/Montserrat-Bold.woff) format('woff');
}
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
    font-style: bold;
    font-weight: 700;
    color: #303030;
}
p, div {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    color: #606060;
    font-size: 18px;
}
.container {
    margin-top: 150px;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 90px;
}
a {
    color: #303030;
    font-family: Montserrat;
    font-weight: 700;
    font-style: bold;
    text-decoration: underline;
    transition: color ease .4s;
}
a:hover, a:active {
    color: #969696;
}
mark {
    background-color: yellow;
    color: black;
}
::selection {
    background-color: yellow;
    color: black;
}
::-moz-selection {
    background-color: yellow;
    color: black;
}
header {
    top: 0;
    margin-left: 70px;
    margin-right: 70px;
    padding: 40px 20px;
    position: fixed;
    box-sizing: border-box;
    left: 0;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid #969696;
}
.site-title a {
    font-size: 22px;
    text-decoration: none;
}
.site-title a:hover, .site-title a:active {
    color: #969696;
}
.site-title {
    display: block;
    float: left;
    padding-left: 20px;
}
.sides {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
}
.side-content {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: left top bottom;
    box-sizing: border-box;
    width: 80px;
    bottom: 30px;
    position: fixed;
    font-size: 12px;
    line-height: 80px;
    display: table-cell;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.right-side, .left-side {
    height: 100%;
    width: 80px;
    top: 0; 
    bottom: 0;
    overflow: hidden;
    position: fixed;
    background-color: #fff;
    z-index: 2;
}
.right-side {
    float: right;
    right: 0;
    border-left: 1px solid #969696;
}
.left-side {
    float: left;
    left: 0;
    border-right: 1px solid #969696;
}
.side-content a {
    text-decoration: none;
    padding-right: 30px;
}
.header-nav a {
    text-decoration: none;
    padding-right: 20px;
}
.header-nav a:hover, .header-nav:active {
    color: #303030;
    text-decoration: underline;
    text-decoration-color: yellow;
}
.header-nav {
    display: block;
    position: relative;
    float: right;
    padding-right: 20px;
}
.g-div {
    background-color: #606060;
    padding: 40px 40px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.g-div div, .g-div p {
    color: #fff;
}
.g-div h1 {
    color: #fff;
    padding-left: 18px;
}
.row {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    align-items: stretch;
    -webkit-align-items: stretch;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.col-medium {
    width: 49%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding-right: 18px;
    padding-left: 18px;
    margin-bottom: none;
}
.col-max {
    width: 75%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding-right: 18px;
    margin-bottom: none;
}
.col-min {
    width: 22.5%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding-left: 18px;
    margin-bottom: none;
}
img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.mobile-header {
    visibility: hidden;
    display: none;
}
.article-list {
    margin-left: 40px;
}
.article-list h2 {
    text-decoration: underline;
    text-decoration-color: yellow;
}
a.article-title {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}
.article {
    border: 2px solid #969696;
    border-radius: 8px;
    padding: 10px 10px;
}
.book-list {
    margin-right: 40px;
}
.book-list a {
    text-decoration: none;
    font-size: 16px;
}
.book-author {
    font-size: 12px;
    margin-left: 4px;
}
.book-list li {
    padding-bottom: 10px;
}
.default {
    margin-left: 110px;
    margin-right: 110px;
}
input:focus, *:focus {
    outline: none;
}
.subtitle {
    color: #606060;
}
.article-info {
    text-align : right;
}
b, strong {
    color: #303030;
}
.article-info div {
    font-size: 14px;
    margin-bottom: 6px;
}
.comments-button {
    font-family: Montserrat;
    font-weight: 700;
    width: 100%;
    border-radius: 8px;
    background-color: #303030;
    color: #fff;
    height: 40px;
    transition: background-color ease .4s, color ease .4s;
    border: none;
}
.comments-button:hover, .comments-button:active {
    color: black;
    background-color: yellow;
}
.article-info a {
    color: #606060;
    text-decoration: none;
}
form label {
    font-size: 14px;
    color: #303030;
    font-weight: 700;
}
.text {
    width: 100%;
    border: 1px solid #606060;
    font-size: 18px;
    font-family: Montserrat;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    transition: border ease .4s;
    border-radius: 2px;
    color: #969696;
    box-sizing: border-box;
}
.text-message {
    width: 100%;
    border: 1px solid #606060;
    font-size: 18px;
    font-family: Montserrat;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    transition: border ease .4s;
    resize: none;
    border-radius: 2px;
    color: #969696;
    box-sizing: border-box;
}
.text:hover, .text:active, .text-message:hover, .text-message:active {
    border: 1px solid #303030;
}
input[type="submit"] {
    font-family: Montserrat;
    font-weight: 700;
    width: 100%;
    border-radius: 8px;
    background-color: #303030;
    color: #fff;
    height: 40px;
    transition: background-color ease .4s, color ease .4s;
    border: none;
    margin-bottom: 10px;
}
input[type="submit"]:hover, input[type="submit"]:active {
    color: black;
    background-color: yellow;
}
.newsletter-promo {
    margin-bottom: 10px;
}
.first-letter {
    float: left;
    color: #303030;
    font-size: 72px;
    line-height: 40px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    font-weight: 700;  
}
figure {
    margin-left: 0px;
    margin-right: 0px;
}
.caption {
    font-size: 14px;
    font-weight: 700;
    color: #303030;
}
@media (max-width: 992px) {
    .article-info {
        text-align: left;
    }
    .default {
        margin-left: 0px;
        margin-right: 0px;
    }
    .container {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 90px;
        margin-bottom: 50px;
    }
    .row {
        display: block;
        width: 100%;
    }
    .col-medium, .col-max, .col-min {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .sides {
        display: none;
        visibility: hidden;
    }
    header {
        bottom: 0;
        top: 0;
        right: 0;
        left: unset;
        position: fixed;
        background-color: #fff;
        padding: 0px 0px;
        border-left: 1px solid #969696;
    }
    .side-content {
        width: 70px;
        line-height: 70px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        transform-origin: right top bottom;
        box-sizing: border-box;
        bottom: 30px;
        position: fixed;
        font-size: 12px;
        display: table-cell;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: #fff;
    }
    .site-title, .header-nav {
        display: none; 
        visibility: hidden;
    }
    .mobile-header {
        visibility: visible;
        display: block;
    }
    .article-list {
        margin-left: 0px;
    }
    .g-div {
        padding: 20px 20px;
    }
    .g-div h1 {
        color: #fff;
        padding-left: 0px;
    }
    .book-list {
        margin-right: 0px;
    }
}