html {
    background-color: #fff;
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Inter Regular'),
         local('Inter-Regular'),
         url("/fonts/Inter-Regular.woff2") format("woff2"),
         url("/fonts/Inter-Regular.woff") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: local('Inter Bold'),
         local('Inter-Bold'),
         url("/fonts/Inter-Bold.woff2") format("woff2"),
         url("/fonts/Inter-Bold.woff") format("woff");
}
.container {
    margin-top: 135px;
    margin-right: 90px;
    margin-left: 90px;
    margin-bottom: 40px;
}
h1, h2, h3, h4, h5, h6 {
    color: black;
    font-style: bold;
    font-weight: 700;
}
p, div {
    font-family: Inter;
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.sides {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}
.side-content {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: left top bottom;
    box-sizing: border-box;
    width: 70px;
    bottom: 30px;
    position: fixed;
    line-height: 70px;
}
.right-side, .left-side {
    height: 100%;
    width: 70px;
    top: 0; 
    bottom: 0;
    overflow: hidden;
    position: fixed;
    background-color: #fff;
    z-index: 2;
}
.right-side {
    float: right;
    right: 0;
    border-left: 1px solid black;
}
.left-side {
    float: left;
    left: 0;
    border-right: 1px solid black;
}
a.sides-link {
    font-family: Inter;
    font-weight: 700;
    color: black;
    text-decoration: none;
    display: table-cell;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 70px;
    padding-right: 30px;
}
a.sides-links:hover, a.sides-links:active {
    color: #4166f5;
}
p.copyright {
    font-size: 12px;
    display: table-cell;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 0px;
}
a {
    color: black;
    font-weight: 700;
    text-decoration: none;
}
a:hover, a:active {
    color: #4166f5;
}
header {
    position: fixed;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
}
.site-title {
    font-family: Inter;
    font-weight: 700;
    color: black;
    font-size: 22px;
    float: left;
    display: block;
    padding-left: 90px;
}
.header-items {
    display: block;
    float: right;
    font-size: 18px;
    padding-top: 3px;
    padding-right: 104px;
    font-family: Inter;
}
a.header-link {
    padding-left: 5px;
    padding-right: 5px;
}
span.cursor {
    -webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}
.site-title-m {
    visibility: hidden;
    display: none;
}
:-moz-selection {
    color: #fff; 
    background: #4166f5;
}  
::selection {
    color: #fff; 
    background: #4166f5;
}   
p::-moz-selection {
    color: #fff;
    background: #4166f5;
}  
p::selection {
    color: #fff;
    background: #4166f5;
}
@keyframes blink {
	from, to {
	  color: transparent;
	}
	50% {
	  color: black;
	}
}
@-moz-keyframes blink {
	from, to {
	  color: transparent;
	}
	50% {
	  color: black;
	}
}
@-webkit-keyframes blink {
	from, to {
	  color: transparent;
	}
	50% {
	  color: black;
	}
}
@-ms-keyframes blink {
	from, to {
	  color: transparent;
	}
	50% {
	  color: black;
	}
}
@-o-keyframes blink {
	from, to {
	  color: transparent;
	}
	50% {
	  color: black;
	}
}
.menu-button {
    display: none;
    visibility: hidden;
}
.row {
    width: 100%;
    display: table;
}
@media (max-width: 992px) {
    .container {
        margin-top: 35px;
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 60px;
    }
    .sides, .right-side, .left-side {
        display: none;
        visibility: hidden;
    }
    .header-items {
        visibility: hidden;
        display: none;
    }
    header {
        left: 0;
        right: 0;
        bottom: 0;
        border-top: 1px solid black;
        border-bottom: none;
        top: unset;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 2px;
        background-color: #fff;
    }
    .site-title {
        display: none;
        visibility: hidden;
        padding-left: 12px;
    }
    .site-title-m {
        display: block;
        visibility: visible;
        padding-left: 42px;
        font-family: Inter;
        font-weight: 700;
        font-style: italic;
        color: black;
        font-size: 22px;
        float: left;
        z-index: 2;
    }
    .menu-button {
        visibility: visible;
        display: block;
        float: right;
        margin-right: 42px;
        position: relative;
        padding-top: 4.5px;
        cursor: pointer;
        box-sizing: border-box;
        background-color: transparent;
        width: 30px;
	    height: 25px;
    }
    .menu-button span {
        background-color: black;
        width: 30px;
        height: 1px;
        visibility: visible;
        display: block;
        position: relative;
        -webkit-transition: all 0.3s ease;
    	transition: all 0.3s ease;
    }
    .menu-button span:nth-child(1) {
        top: 0;
    }
    .menu-button span:nth-child(2) {
        top: 7px;
    }
    .menu-button span:nth-child(3) {
        top: 14px;
    }
    .menu-button.clicked span:nth-child(2) {
        width: 0;
    }
    .menu-button.clicked span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 15.809px;
    }
    .menu-button.clicked span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 15.899px;
    }
    .menu-button.clicked {
        margin-top: -7px;
        height: 32px;
    }
}
