html {
    background-color: #fff;
    scrollbar-width: thin;
    scrollbar-color: #606060 #fff;
}
@font-face {
    font-family: 'Roboto Mono', 'monospace';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto Mono'),
         url("/fonts/RobotoMono-Regular.ttf") format("ttf");

}
@font-face {
    font-family: 'Roboto Mono', 'monospace';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Mono'),
         url("/fonts/RobotoMono-Bold.ttf") format("ttf");
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', 'monospace';
    font-style: bold;
    font-weight: 700;
    color: black;
}
a {
    font-family: 'Roboto Mono', 'monospace';
    font-style: bold;
    font-weight: 700;
    color: black;
    text-decoration: underline;
    transition: ease .3s;
}
a:hover, a:active {
    color: #606060;
}
p, div {
    font-family: 'Roboto Mono', 'monospace';
    font-style: normal;
    font-weight: 400;
    color: black;
    font-size: 18px;
}
::selection {
    color: #fff;
    background-color: #606060;
}
::-moz-selection {
    color: #fff;
    background-color: #606060;
}
mark {
    background-color: orange;
    color: #fff;
}
.container {
    margin-left: 90px;
    margin-right: 90px;
}
@media (max-width: 720px) {
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
}