{{ partial "header.html" . }}
<div class="container">
    <h1>{{.Title}}</h1>
    <h4 class="subtitle"><span id="typed"></span></h4>
    <div class="row">
        <div class="col-medium">
            <div class="article-list">
                <div class="article">
                    <img src="/immagini/articoli/presentazioni/primo-articolo-vincenzoingraojr.png" title="Articolo di presentazioni."/>
                    <a class="article-title" href="/articoli/presentazioni">Presentazioni</a>
                    <div class="article-summary">
                        In questo articolo mi presento, e quindi parlo di me, del sito, delle mie passioni e anche delle mie aspirazioni. <a href="/articoli/presentazioni">Continua a leggere →</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var typed = new Typed('#typed',{
         strings:["Tutti gli articoli che ho scritto."],
         backSpeed: 50,
         typeSpeed: 60,
         loop: false
    });
</script>
{{ partial "sides.html" . }}