{{ partial "header.html" . }}
<main>
    <div class="container">
        <h1>{{.Title}}</h1>
        <div class="flex-row">
            <div class="side-l">
                <div class="article">
                    <a href="/articoli/presentazioni/" class="link-article" title="Leggi l'articolo dove mi presento">Presentazioni</a>
                    <div class="article-text-summary">
                        Questo è il mio sito web, statico e funzionale. Quest'ultimo è il frutto del tempo libero che intercorreva tra un pranzo e un cenone nei giorni delle festività natalizie. Mi sono ispirato alle riviste digitali.
                        <a class="redirect-to-article" href="/articoli/presentazioni/" title="Leggi l'articolo dove mi presento">Continua a leggere <span class="arrow">→</span></a>
                    </div>
                </div>
            </div>
            <div class="fixed-side-r">
                <div class="fixed-text">
                    Tutto quello che ho scritto. Appena gli articoli aumentano, aggiungerò la funzione ricerca.
                </div>
            </div>
        </div>
    </div>
</main>
{{ partial "sides.html" . }}
