{{ partial "header.html" . }}
<div class="container">
    <div class="row">
        <div class="col-max">
            <h1>{{.Title}}</h1>
        </div>
        <div class="col-min">
            <div class="article-info">
                <b>Online dal</b><div>{{ .Date.Day }} {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }} {{ .Date.Year }}</div>
                <b>Tempo di lettura</b><div>{{.Params.tempo_di_lettura}}</div>
                <b>Discussione</b><div><a href="#commenti">Commenti</a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-max">
            {{.Content}}
        </div>
        <div class="col-min">
            {{ partial "libri.html" . }}
        </div>
    </div>
    <div class="col-max">
        <div class="b-a-row">
            {{if .PrevInSection}}
            <div class="b-a-col-l">
                <a href="{{.PrevInSection.Permalink}}" title="{{.PrevInSection.Title}}">← Articolo precendente</a>
            </div>
            {{end}}
            {{if .NextInSection}}
            <div class="b-a-col-r">
                <a href="{{.NextInSection.Permalink}}" title="{{.NextInSection.Title}}">Articolo successivo →</a>
            </div>
            {{end}}
        </div>
    </div>
    <div class="row">
        <div class="col-max"><a name="commenti"></a>
            {{ partial "comments.html" . }}
        </div>
    </div>
</div>
{{ partial "sides.html" . }}