<!DOCTYPE html>
<html lang=it-it>
<head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL}}/index.xml" title="Vincenzo Ingrao - Sito ufficiale"/>
    <link rel='stylesheet' href='{{.Site.BaseURL}}/css/main.css' type='text/css' media='all'/>
    <link rel="apple-touch-icon" sizes="180x180" href="/immagini/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/immagini/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/immagini/favicon-16x16.png">
    <link rel="manifest" href="/immagini/site.webmanifest">
    <link rel="mask-icon" href="/immagini/safari-pinned-tab.svg" color="#303030">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/immagini/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<header>
    <div class="site-title">
        <a href="{{.Site.BaseURL}}" title="Sito ufficiale di Vincenzo Ingrao Jr.">vincenzoingraojr.com</a>
    </div>
    <div class="header-nav">
        <a href="/articoli/" title="Tutti gli articoli che ho scritto">ARTICOLI</a>
        <a href="/contatti" title="Informazioni e contatti di Vincenzo Ingrao Jr.">CONTATTI</a>
    </div>
</header>
<script src="/js/jquery.js"></script>
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="6b3f7316-cc1c-482a-8a82-3874fd59fcd1" type="text/javascript" async></script>