<!DOCTYPE html>
<html lang=it-it>
<head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL}}/index.xml" title="Vincenzo Ingrao - Sito ufficiale"/>
    <link rel='stylesheet' href='{{.Site.BaseURL}}/css/main.css' type='text/css' media='all'/>
</head>
<header>
    <div class="site-title">
        <a href="{{.Site.BaseURL}}" title="Sito ufficiale di Vincenzo Ingrao Jr.">vincenzoingraojr.com</a>
    </div>
    <div class="header-nav">
        <a href="/articoli/" title="Tutti gli articoli che ho scritto">ARTICOLI</a>
        <a href="/contatti" title="Informazioni e contatti di Vincenzo Ingrao Jr.">CONTATTI</a>
    </div>
    <div class="mobile-header">
        <div class="side-content">
            <a href="{{.Site.BaseURL}}" title="Sito ufficiale di Vincenzo Ingrao Jr.">home</a>
            <a href="/articoli/" title="Tutti gli articoli che ho scritto">articoli</a>
            <a href="/contatti" title="Informazioni e contatti di Vincenzo Ingrao Jr.">contatti</a>
        </div>
    </div>
</header>
<script src="/js/jquery.js"></script>