<div class="container">
    <div class="g-div">
        <h1>Ciao!</h1>
        <div class="row">
            <div class="col-medium">
                Il mio nuovo sito. Sarebbe la terza versione, con un nuovo font e con una nuova filosofia. È scritto sempre in HTML, CSS e JavaScript.
            </div>
            <div class="col-medium">
                <img src="/immagini/workflow.png" title="Workflow"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-medium">
            <div class="articles-list">
                <h2>Articoli che vale la pena leggere.</h2>
                <div class="article">
                    <img src="/immagini/articoli/"/>
                    <a class="article-title" href="/articoli/">Presentazioni</a>
                </div>
            </div>
        </div>
    </div>
</div>