<div class="container">
    <h1>Benvenuti!</h1>
    <div class="paragraph">
        Ecco il mio sito! L'ho creato per inserire le mie idee in uno spazio personale online.
    </div>
    <div class="black-side">
        <h1>Com'è fatto il sito?</h1>
            Il sito è scritto in HTML, CSS e c'è anche un po' di JavaScript (per la custom scrollbar).
            Il codice sorgente lo potete trovare su <a href="https://github.com/vincenzoingraojr/vincenzoingrao.com" target="_blank" title="Repository di GitHub dove è presente il codice sorgente del sito vincenzoingrao.com">GitHub</a>.
    </div>
</div>
