<h3><mark>Libri che consiglio di leggere.</mark></h3>
<ol class="book-list">
    <li><a href="https://amzn.to/38tsEkp" target="_blank" title="L'universo elegante di Brian Greene, dove quest'ultimo ci spiega la conformazione dell'ipotetica teoria ultima">L'universo elegante</a><div class="book-author">di Brian Greene</div></li>
    <li><a href="https://amzn.to/2wAd7SF" target="_blank" title="Leggi il libro sull'uomo che più sta investendo il suo tempo per rivoluzionare il mondo e creare il futuro">Elon Musk. Tesla, SpaceX e la sfida per un futuro fantastico</a><div class="book-author">di Ashlee Vance (per Hoepli)</div></li>
    <li><a href="https://amzn.to/2IqypVp" target="_blank" title="Leggi il libro che illustra (teoricamente) il funzionamento dell'universo">La strada che porta alla realtà. Le leggi fondamentali dell'universo</a><div class="book-author">di Roger Penrose</div></li>
</ol>