<div class="books-sidebar">
    <h4 class="sidebar-title">Libri che consiglio di leggere</h4>
    <div class="sidebar-text">
        Una lista di libri che consiglio di leggere.
    </div>  
    <ul class="books-list">
        <li><a href="https://amzn.to/2u4O2Od" title="Scopri la bellezza dell'universo e assaggia un po' di teoria delle stringhe" target="_blank">L'universo elegante</a><div class="author">di Brian Greene</div></li>
        <li><a href="https://amzn.to/35gDZT6" title="Un manuale completo sull'elettronica, elettrotecnica e automazione" target="_blank">Manuale di elettrotecnica, elettronica e automazione</a><div class="author">di Giuliano Ortolano ed Ezio Venturi (per Hoepli)</div></li>
        <li><a href="https://amzn.to/2SLtjcv" title="Leggi il libro che ha come protagonista Elon Musk, l'uomo che (più attivamente) sta formando il futuro dell'umanità" target="_blank">Elon Musk. Tesla, SpaceX e la sfida per un futuro fantastico</a><div class="author">di Ashlee Vance (per Hoepli)</div></li>
    </ul>
</div>