<div class="sides">
    <div class="right-side">
        <div class="side-content">
            <p class="copyright">
            © 2020 Vincenzo Ingrao Jr. - <a href="/privacy" title="Privacy e cookie policy di vincenzoingrao.com">Privacy</a>
            </p>
        </div>    
    </div>
    <div class="left-side">
        <div class="side-content">
            <a href="https://instagram.com/vincenzoingraojr" class="sides-link" title="Seguimi su Instagram!" target="_blank">instagram</a><a href="https://twitter.com/vincenzoingraoj" class="sides-link" title="Seguimi su Twitter!" target="_blank">twitter</a><a href="https://t.me/vincenzoingrao" class="sides-link" title="Iscriviti al mio canale Telegram" target="_blank">telegram</a>
        </div>
    </div>
</div>
