<div class="sides">
    <div class="left-side">
        <div class="side-content">
            <a href="https://instagram.com/vincenzoingraojr" target="_blank" title="Seguimi su Instagram">instagram</a><a href="https://twitter.com/vincenzoingraoj" target="_blank" title="Seguimi pure su Twitter">twitter</a><a href="https://it.linkedin.com/in/vincenzo-ingrao-jr-5119711a2?trk=people-guest_people_search-card" target="_blank" title="Cercami su Linkedin">linkedin</a><a href="https://t.me/vincenzoingrao" target="_blank" title="Entra nel mio canale Telegram">telegram</a>
        </div>
    </div>
    <div class="right-side">
        <div class="side-content">
            © 2020 Vincenzo Ingrao Jr. - <a href="/privacy/" title="Privacy e cookie policy di vincenzoingraojr.com">privacy</a>
        </div>
    </div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143106136-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143106136-1');
</script>